<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вейп Шоп | Vape shop</title>
    @*<link rel="stylesheet" href="style.css">*@
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <div class="header">
        <div class="wrapper">
            <div class="logo">
                <a href="index.html" class="ref-block">
                    <img src="~/img/VapeShopLogo.png" alt="" class="logo-image">
                </a>
            </div>
            <div class="list">
                <ul class="list-catalog">
                    <li>
                        <a class="ref-block" href="#">Каталог</a>
                        <ul class="ul-none-block">
                            <div class="right-column">
                                <li>
                                    <a class="ref-block name-category" href="#">НОВИНКИ</a>
                                </li>
                                ul>
                                <li style="width: 100%; max-width: 250px !important;">
                                    <a asp-area="" asp-controller="User" asp-action="Profile"> Profile</a>
                                </li>
                        </ul>
<li>
                                    <a class="ref-block sub-category" href="#">Атомайзеры</a>
                                </li>
                                <li>
                                    <a class="ref-block sub-category" href="#">Девайсы</a>
                                </li>
                                <li>
                                    <a class="ref-block sub-category" href="#">Жидкости</a>
                                </li>
                                <li>
                                    <a class="ref-block sub-category" href="#">Разное</a>
                                </li>
                                <li>
                                    <a class="ref-block name-category" href="#">ТОП-ЦЕНЫ</a>
                                </li>

                                <li>
                                    <a class="ref-block name-category" href="#">ЖИДКОСТИ</a>
                                </li>
                                <li>
                                    <a class="ref-block sub-category" href="#">Атомайзеры</a>
                                </li>
                                <li>
                                    <a class="ref-block name-category" href="#">ДЕВАЙСЫ</a>
                                </li>
                                <li>
                                    <a class="ref-block sub-category" href="#">Атомайзеры</a>
                                </li>
                                <li>
                                    <a class="ref-block name-category" href="#">АКСЕСУАРЫ</a>
                                </li>
                                <li>
                                    <a class="ref-block sub-category" href="#">Атомайзеры</a>
                                </li>
                            </div>
                            <div class="right-column">
                                <li>
                                    <a class="ref-block name-category" href="#">НОВИНКИ</a>
                                </li>
                                <li>
                                    <a class="ref-block sub-category" href="#">Атомайзеры</a>
                                </li>
                                <li>
                                    <a class="ref-block sub-category" href="#">Девайсы</a>
                                </li>
                                <li>
                                    <a class="ref-block sub-category" href="#">Жидкости</a>
                                </li>
                                <li>
                                    <a class="ref-block sub-category" href="#">Разное</a>
                                </li>
                                <li>
                                    <a class="ref-block name-category" href="#">ТОП-ЦЕНЫ</a>
                                </li>
                                <li>
                                    <a class="ref-block name-category" href="#">ЖИДКОСТИ</a>
                                </li>
                                <li>
                                    <a class="ref-block name-category" href="#">ДЕВАЙСЫ</a>
                                </li>
                                <li>
                                    <a class="ref-block name-category" href="#">АКСЕСУАРЫ</a>
                                </li>
                            </div>
                            <div class="right-column">
                                <li>
                                    <a class="ref-block name-category" href="#">НОВИНКИ</a>
                                </li>
                                <li>
                                    <a class="ref-block sub-category" href="#">Атомайзеры</a>
                                </li>
                                <li>
                                    <a class="ref-block sub-category" href="#">Девайсы</a>
                                </li>
                                <li>
                                    <a class="ref-block sub-category" href="#">Жидкости</a>
                                </li>
                                <li>
                                    <a class="ref-block sub-category" href="#">Разное</a>
                                </li>
                                <li>
                                    <a class="ref-block name-category" href="#">ТОП-ЦЕНЫ</a>
                                </li>
                                <li>
                                    <a class="ref-block name-category" href="#">ЖИДКОСТИ</a>
                                </li>
                                <li>
                                    <a class="ref-block name-category" href="#">ДЕВАЙСЫ</a>
                                </li>
                                <li>
                                    <a class="ref-block name-category" href="#">АКСЕСУАРЫ</a>
                                </li>
                            </div>
                            <div class="clearfix"></div>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="search">
                <form action="">
                    <input type="text" name="search" class="input-search" placeholder="Поиск товара...">
                    <input type="submit" value="" class="button-search">
                </form>
            </div>

            <div class="social">
                <a href="tel:+79250854505" class="social-tel">+7 (925) 085 45 05</a>
                <div class="social-icons">
                    <a href="#" class="ref-icons ref-icons-1"></a>
                    <a href="#" class="ref-icons ref-icons-2"></a>
                    <a href="#" class="ref-icons ref-icons-3"></a>
                </div>
            </div>
            <div class="basket">
                <a href="#" class="ref-block ref-basket">
                    <div class="counter">0</div>
                </a>

            </div>
        </div>
    </div>
    <div class="content">
        <div class="wrapper">
            <div class="nav">
                <div class="menu-heading">
                    menu
                </div>
                <ul>
                    <li><a href="index.html">Покупка билетов</a></li>
                    <li><a href="#">Новости</a></li>
                    <li class="li_hober">
                        <a href="#">Новости</a>
                        <ul>
                            <li><a href="#">ewwfewfewfwe</a></li>
                            <li><a href="#">ewwfewfewfwe</a></li>
                            <li><a href="#">ewwfewfewfwe</a></li>
                            <li><a href="#">ewwfewfewfwe</a></li>
                        </ul>
                    </li>
                    <li><a href="account - enter.html">Личный кабинет</a></li>

                    <li><a href="search_hotels.html">Отели</a></li>
                    <li><a href="cars.html">аренда авто</a></li>
                    <li><a href="support.html">Служба поддержки</a></li>
                    <li><a href="forCompany.html">Для компаний*</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top:150px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="clearfix"></div>
    <footer class="footer">
        <div class="wrapper">
            <div class="footer_top">
                <div class="conteiner_div">
                    <div class="Category">
                        <a href="#" class="footer_ref ref1">ИНФО</a>
                    </div>

                    <div class="support">
                        <a href="#" class="footer_ref ref3">Our Support</a>
                    </div>
                    <div class="about">
                        <a href="#" class="footer_ref ref5">About Us</a>
                    </div>
                    <div class="newsletter">
                        <a href="#" class="footer_ref ref4">Newsletter</a>
                    </div>
                </div>


                <div class="logo-footer">
                    <div class="image-footer">
                        <img src="~/img/VapeShopLogo.png" alt="">
                    </div>
                </div>



                <div class="conteiner_ul">
                    <ul class="ul1">
                        <li><a href="#">Доставка</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Design and Development by guccigang</a></li>
                    </ul>
                    <ul class="ul3">
                        <li><a href="#">Site Map</a></li>
                        <li><a href="#">Search Terms</a></li>
                        <li><a href="#">Advanced Search</a></li>
                        <li><a href="#">Mobilet</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Mobile</a></li>
                        <li><a href="#">Addresses</a></li>
                    </ul>
                </div>


                <div class="entermail">
                    <p>Join thousands of other people sub-<br>scribe to our news</p>
                    <form action="">
                        <input type="email" placeholder="INSERT EMAIL" class="email">
                        <input type="button" value="SUBMIT" class="submit">
                    </form>
                    <div class="money">
                        <a href="#" class="visa americanar"></a>
                        <a href="#" class="visa mastercard"></a>
                        <a href="#" class="visa maestro"></a>
                        <a href="#" class="visa paypal"></a>
                        <a href="#" class="visa discover"></a>
                        <a href="#" class="visa visa_jpg"></a>
                    </div>
                </div>
                <div class="aboutfooter">
                    <p>Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem eum, eaque eligendi corporis dolorem, voluptatum nisi pariatur vitae expedita reprehenderit ut quaerat molestiae quae ipsam in accusamus, odit voluptate. Numquam.</p>
                    <p class="phone">Phone: 1-999-342-9876</p>
                    <p class="emailfooter">e-mail: info@surfhouse.com</p>
                </div>
            </div>
        </div>
    </footer>
    <div class="clearfix"></div>

    <script src="~/Js/script2.js"></script>
    <script src="~/Js/script_slider3.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>﻿