<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вейп Шоп | Vape shop</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <div class="wrapper">
            <div class="logo">
                <a href="index.html" class="ref-block">
                    <img src="img/VapeShopLogo.png" alt="" class="logo-image">
                </a>
            </div>
            <div class="list">
                <ul class="list-catalog">
                    <li>
                        <a class="ref-block" href="#">Каталог</a>
                        <ul class="ul-none-block">
                            <li>
                                <a class="ref-block name-category" href="#">НОВИНКИ</a>
                            </li>
                            <li>
                                <a class="ref-block name-category" href="#">ТОП-ЦЕНЫ</a>
                            </li>
                            <li>
                                <a class="ref-block name-category" href="#">ЖИДКОСТИ</a>
                            </li>
                            <li>
                                <a class="ref-block name-category" href="#">ДЕВАЙСЫ</a>
                            </li>
                            <li>
                                <a class="ref-block name-category" href="#">АКСЕСУАРЫ</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="wrapper">

        </div>
    </div>
    <div class="footer">
        <div class="wrapper">

        </div>
    </div>
</body>
</html>﻿