<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вейп Шоп | Vape shop</title>
    @*<link rel="stylesheet" href="style.css">*@
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <div class="header-margin"></div>
    <div class="header">
        <div class="wrapper">
            <div class="logo">
                <a href=@Url.Action("Index","Home") class="ref-block">
                    <img src="~/img/VapeShopLogo.png" alt="" class="logo-image">
                </a>
            </div>
            <div class="list">
                <ul class="list-catalog">
                    <li>
                        <a class="ref-block" href="#">Каталог</a>
                        <ul class="ul-none-block">
                            <div class="right-column">
                                <li>
                                    <a class="ref-block name-category" href=@Url.Action("Category","Products", new {Category = "POD-системы и комплектующие"})>POD-системы и комплектующие</a>
                                </li>
                                 <li>
                                    <a class="ref-block sub-category" href="#">Атомайзеры</a>
                                </li>
                                <li>
                                    <a class="ref-block sub-category" href=@Url.Action("Category","Products", new {Category = "POD-системы и комплектующие",Type = 1})>SMOK</a>
                                </li>
                                <li>
                                    <a class="ref-block sub-category" href=@Url.Action("Category","Products", new {Category = "POD-системы и комплектующие",Type = 2})>Logic_Compact</a>
                                </li>
                                <li>
                                    <a class="ref-block name-category" href=@Url.Action("Category","Products", new {Category = "POD-системы и комплектующие", Type = "sort"})>ТОП-ЦЕНЫ</a>
                                </li>
                            </div>
                            <div class="right-column">
                                <li>
                                    <a class="ref-block name-category" href=@Url.Action("Category","Products", new {Category = "Жидкости для POD и MTL"})>Жидкости</a>
                                </li>
                                <li>
                                    <a class="ref-block sub-category" href=@Url.Action("Category","Products", new {Category = "Жидкости для POD и MTL", Type = 3})>Солевые_жидкости</a>
                                </li>
                                <li>
                                    <a class="ref-block sub-category" href=@Url.Action("Category","Products", new {Category = "Жидкости для POD и MTL", Type = 4})>Щелочные_жидкости</a>
                                </li>
                            </div>
                            <div class="right-column">
                                <li>
                                    <a class="ref-block name-category" href=@Url.Action("Category","Products", new {Category = "Девайсы"})>Девайсы</a>
                                </li>
                                <li>
                                    <a class="ref-block sub-category" href=@Url.Action("Category","Products", new {Category = "Девайсы", Type = 5})>Мехмоды</a>
                                </li>
                                <li>
                                    <a class="ref-block sub-category" href=@Url.Action("Category","Products", new {Category = "Девайсы", Type = 6})>Аккамуляторы</a>
                                </li>
                                <li>
                                    <a class="ref-block sub-category" href=@Url.Action("Category","Products", new {Category = "Девайсы", Type = 7})>Готовые_койлы</a>
                                </li>
                            </div>
                            <div class="clearfix"></div>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="search">
                <form class="searchfo" method="get" asp-controller="Products" asp-action="Search" style="width:250px !important;">
                    @*Блок поиска по сайту*@
                    <input class="searchin" type="search" placeholder="Search title..." value="@ViewData["Getemployeedetails"]" name="Name">       @*Блок поиска по сайту*@
                    <button type="submit" value="Search" class="searchbu" /> @*Блок поиска по сайту*@
                </form>
            </div>

            <div class="social">
                <a href="tel:+79250854505" class="social-tel">+7 (925) 085 45 05</a>
                <div class="social-icons">
                    <a href="#" class="ref-icons ref-icons-1"></a>
                    <a href="#" class="ref-icons ref-icons-2"></a>
                    <a href="#" class="ref-icons ref-icons-3"></a>
                </div>
            </div>
            <div class="basket">
                <a href=@Url.Action("Profile","Users") class="ref-block ref-basket">
                    <div class="counter">0</div>
                </a>

            </div>
        </div>
    </div>
    <div class="content">
        <div class="wrapper">
            <div class="nav">
                <div class="menu-heading">
                    menu
                </div>
                <ul>
                    <li><a href=@Url.Action("Index","Home")>Главная</a></li>
                    <li><a href=@Url.Action("Profile","Users")>Личный кабинет</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top:150px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="clearfix"></div>
    <footer class="footer">
        <div class="wrapper">
            <div class="footer_top">
                <div class="conteiner_div">
                    <div class="Category">
                        <a href="#" class="footer_ref ref1">ИНФО</a>
                    </div>

                    <div class="support">
                        <a href="#" class="footer_ref ref3">Our Support</a>
                    </div>
                    <div class="about">
                        <a href="#" class="footer_ref ref5">About Us</a>
                    </div>
                    <div class="newsletter">
                        <a href="#" class="footer_ref ref4">Newsletter</a>
                    </div>
                </div>


                <div class="logo-footer">
                    <div class="image-footer">
                        <img src="~/img/VapeShopLogo.png" alt="">
                    </div>
                </div>



                <div class="conteiner_ul">
                    <ul class="ul1">
                        <li><a href="#">Доставка</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Design and Development by guccigang</a></li>
                    </ul>
                    <ul class="ul3">
                        <li><a href="#">Site Map</a></li>
                        <li><a href="#">Search Terms</a></li>
                        <li><a href="#">Advanced Search</a></li>
                        <li><a href="#">Mobilet</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Mobile</a></li>
                        <li><a href="#">Addresses</a></li>
                    </ul>
                </div>


                <div class="entermail">
                    <p>Join thousands of other people sub-<br>scribe to our news</p>
                    <form action="">
                        <input type="email" placeholder="INSERT EMAIL" class="email">
                        <input type="button" value="SUBMIT" class="submit">
                    </form>
                    <div class="money">
                        <a href="#" class="visa americanar"></a>
                        <a href="#" class="visa mastercard"></a>
                        <a href="#" class="visa maestro"></a>
                        <a href="#" class="visa paypal"></a>
                        <a href="#" class="visa discover"></a>
                        <a href="#" class="visa visa_jpg"></a>
                    </div>
                </div>
                <div class="aboutfooter">
                    <p>Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem eum, eaque eligendi corporis dolorem, voluptatum nisi pariatur vitae expedita reprehenderit ut quaerat molestiae quae ipsam in accusamus, odit voluptate. Numquam.</p>
                    <p class="phone">Phone: 1-999-342-9876</p>
                    <p class="emailfooter">e-mail: info@surfhouse.com</p>
                </div>
            </div>
        </div>
    </footer>
    <div class="clearfix"></div>

    <script src="~/Js/script2.js"></script>
    <script src="~/Js/script_slider3.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>﻿