<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Вейп Шоп | Vape shop</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	
	<div class="content">
		<div class="wrapper">
			



			
			<div class="newproducts">
				<h1 class="product-title">Жидкости</h1>
				<div class="wrapper-slider">
					<div class="slider-container">
						<div class="slider-track">
							<div class="slider-item" style="padding-left: 2px;">
								<a href="#" style="display: block;">
									<div class="new">
										<div class="previev">
											<img src="img/3ade3fba-a493-4464-a4ea-533d6e6a6845.jpg" alt="" width="250" height="235">
										</div>
										<p class="nameprod">Стамбул, Турция</p>
										<p class="price">€.849.95</p>
									</div>
								</a>
							</div>
							<div class="slider-item">
								<a href="#" style="display: block;">
									<div class="new">
										<div class="previev">
											<img src="img/3ade3fba-a493-4464-a4ea-533d6e6a6845.jpg" alt="" width="250" height="235">
										</div>
										<p class="nameprod">Стамбул, Турция</p>
										<p class="price">€.849.95</p>
									</div>
								</a>
							</div>
							<div class="slider-item">
								<a href="#" style="display: block;">
									<div class="new">
										<div class="previev">
											<img src="img/3ade3fba-a493-4464-a4ea-533d6e6a6845.jpg" alt="" width="250" height="235">
										</div>
										<p class="nameprod">Стамбул, Турция</p>
										<p class="price">€.849.95</p>
									</div>
								</a>
							</div>
							<div class="slider-item">
								<a href="#" style="display: block;">
									<div class="new">
										<div class="previev">
											<img src="img/3ade3fba-a493-4464-a4ea-533d6e6a6845.jpg" alt="" width="250" height="235">
										</div>
										<p class="nameprod">Стамбул, Турция</p>
										<p class="price">€.849.95</p>
									</div>
								</a>
							</div>
							<div class="slider-item">
								<a href="#" style="display: block;">
									<div class="new">
										<div class="previev">
											<img src="img/3ade3fba-a493-4464-a4ea-533d6e6a6845.jpg" alt="" width="250" height="235">
										</div>
										<p class="nameprod">Стамбул, Турция</p>
										<p class="price">€.849.95</p>
									</div>
								</a>
							</div>
							<div class="slider-item">
								<a href="#" style="display: block;">
									<div class="new">
										<div class="previev">
											<img src="img/3ade3fba-a493-4464-a4ea-533d6e6a6845.jpg" alt="" width="250" height="235">
										</div>
										<p class="nameprod">Стамбул, Турция</p>
										<p class="price">€.849.95</p>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="slider-buttons">
						<button class="btn-prev"></button>
						<button class="btn-next"></button>
						<a href="#" class="all-btn">ВСЁ</a>
					</div>
				</div>
				
				<h1 class="product-title">Расходники</h1>
				<div class="wrapper-slider">
					<div class="slider-container slider-container2">
						<div class="slider-track slider-track2">
							<div class="slider-item slider-item2" style="padding-left: 2px;">
								<a href="#" style="display: block;">
									<div class="new">
										<div class="previev">
											<img src="img/3ade3fba-a493-4464-a4ea-533d6e6a6845.jpg" alt="" width="250" height="235">
										</div>
										<p class="nameprod">Стамбул, Турция</p>
										<p class="price">€.849.95</p>
									</div>
								</a>
							</div>
							<div class="slider-item slider-item2">
								<a href="#" style="display: block;">
									<div class="new">
										<div class="previev">
											<img src="img/3ade3fba-a493-4464-a4ea-533d6e6a6845.jpg" alt="" width="250" height="235">
										</div>
										<p class="nameprod">Стамбул, Турция</p>
										<p class="price">€.849.95</p>
									</div>
								</a>
							</div>
							<div class="slider-item slider-item2">
								<a href="#" style="display: block;">
									<div class="new">
										<div class="previev">
											<img src="img/3ade3fba-a493-4464-a4ea-533d6e6a6845.jpg" alt="" width="250" height="235">
										</div>
										<p class="nameprod">Стамбул, Турция</p>
										<p class="price">€.849.95</p>
									</div>
								</a>
							</div>
							<div class="slider-item slider-item2">
								<a href="#" style="display: block;">
									<div class="new">
										<div class="previev">
											<img src="img/3ade3fba-a493-4464-a4ea-533d6e6a6845.jpg" alt="" width="250" height="235">
										</div>
										<p class="nameprod">Стамбул, Турция</p>
										<p class="price">€.849.95</p>
									</div>
								</a>
							</div>
							<div class="slider-item slider-item2">
								<a href="#" style="display: block;">
									<div class="new">
										<div class="previev">
											<img src="img/3ade3fba-a493-4464-a4ea-533d6e6a6845.jpg" alt="" width="250" height="235">
										</div>
										<p class="nameprod">Стамбул, Турция</p>
										<p class="price">€.849.95</p>
									</div>
								</a>
							</div>
							<div class="slider-item slider-item2">
								<a href="#" style="display: block;">
									<div class="new">
										<div class="previev">
											<img src="img/3ade3fba-a493-4464-a4ea-533d6e6a6845.jpg" alt="" width="250" height="235">
										</div>
										<p class="nameprod">Стамбул, Турция</p>
										<p class="price">€.849.95</p>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="slider-buttons">
						<button class="btn-prev btn-prev2"></button>
						<button class="btn-next btn-next2"></button>
						<a href="#" class="all-btn">ВСЁ</a>
					</div>
				</div>



				<h1 class="product-title">Моды</h1>
				<div class="wrapper-slider">
					<div class="slider-container slider-container2 slider-container3">
						<div class="slider-track slider-track2 slider-track3">
							<div class="slider-item slider-item2 slider-item3" style="padding-left: 2px;">
								<a href="#" style="display: block;">
									<div class="new">
										<div class="previev">
											<img src="img/3ade3fba-a493-4464-a4ea-533d6e6a6845.jpg" alt="" width="250" height="235">
										</div>
										<p class="nameprod">Стамбул, Турция</p>
										<p class="price">€.849.95</p>
									</div>
								</a>
							</div>
							<div class="slider-item slider-item2 slider-item3">
								<a href="#" style="display: block;">
									<div class="new">
										<div class="previev">
											<img src="img/3ade3fba-a493-4464-a4ea-533d6e6a6845.jpg" alt="" width="250" height="235">
										</div>
										<p class="nameprod">Стамбул, Турция</p>
										<p class="price">€.849.95</p>
									</div>
								</a>
							</div>
							<div class="slider-item slider-item2 slider-item3">
								<a href="#" style="display: block;">
									<div class="new">
										<div class="previev">
											<img src="img/3ade3fba-a493-4464-a4ea-533d6e6a6845.jpg" alt="" width="250" height="235">
										</div>
										<p class="nameprod">Стамбул, Турция</p>
										<p class="price">€.849.95</p>
									</div>
								</a>
							</div>
							<div class="slider-item slider-item2 slider-item3">
								<a href="#" style="display: block;">
									<div class="new">
										<div class="previev">
											<img src="img/3ade3fba-a493-4464-a4ea-533d6e6a6845.jpg" alt="" width="250" height="235">
										</div>
										<p class="nameprod">Стамбул, Турция</p>
										<p class="price">€.849.95</p>
									</div>
								</a>
							</div>
							<div class="slider-item slider-item2 slider-item3">
								<a href="#" style="display: block;">
									<div class="new">
										<div class="previev">
											<img src="img/3ade3fba-a493-4464-a4ea-533d6e6a6845.jpg" alt="" width="250" height="235">
										</div>
										<p class="nameprod">Стамбул, Турция</p>
										<p class="price">€.849.95</p>
									</div>
								</a>
							</div>
							<div class="slider-item slider-item2 slider-item3">
								<a href="#" style="display: block;">
									<div class="new">
										<div class="previev">
											<img src="img/3ade3fba-a493-4464-a4ea-533d6e6a6845.jpg" alt="" width="250" height="235">
										</div>
										<p class="nameprod">Стамбул, Турция</p>
										<p class="price">€.849.95</p>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="slider-buttons">
						<button class="btn-prev btn-prev2 btn-prev3"></button>
						<button class="btn-next btn-next2 btn-next3"></button>
						<a href="#" class="all-btn">ВСЁ</a>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	
	
	<script src="script_slider3.js"></script>
	<script src="script_slider3-2.js"></script>
	<script src="script2.js"></script>
</body>
</html>