
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
body {
	margin:0 auto;
}

/*HEADER*/
.header {
	width: 100%;
	height: 100px;
	box-shadow: 0 0 28px rgba(0, 0, 0, 0.10), 0 10px 10px rgba(0, 0, 0, 0.10);
	position: fixed;
	top: 0;
	background-color: #fff;
	z-index: 100;
  left: 50%;
  transform: translateX(-50%);
}
.header-margin {
	width: 100%;
	height: 140px;

}

.wrapper {
	width: 1200px; 
	min-height: 5px;
	margin: 0 auto;

}

.clearfix {
	clear: both;
}

.header .logo {
	width: 115px;
	height: 115px;
	float: left;
}

.ref-block {
	display: block;
	
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: black;
}

.header .logo .logo-image {
	width: 115px;
	height: 115px;
}
.header .list-catalog {
	list-style-type: none;
	display: block;
	width: 100px;
	float: left;
	margin-top: 25px;
	margin-left: 35px;
}
.header .list-catalog>li .ref-block {
	font-size: 22px;
	color: #3d3d3d;
}
.header .list-catalog>li>.ref-block:before {
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	float: right;
	background-image: url(../../img/list-down.png);
	background-size: 15px 15px;
	background-position: center center;
	position: relative;
	top: 22px;
	right: -20px;
}
.header .list-catalog>li .ul-none-block {
	display: none;
	margin-top: 20px;
	width: 600px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.10), 0 10px 10px rgba(0, 0, 0, 0.10);
	padding: 30px;
	z-index: 100 !important;
	position: relative;
	top: -15px;
	background-color: #fff;
	overflow-x: hidden;
}
.header .list-catalog>li:hover .ul-none-block {
	display: block;
}

.name-category {
	color: black;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 14px !important;
	margin-bottom: 15px;
	margin-top: 10px;
}
.name-category:after {
	content: "";
	display: block;
	width: 150px;
	height: 1px;
	background-color: lightgray;
	margin-top: 10px;
}
.ref-block:hover {
	color: gray !important;
}

.sub-category {
	color: gray !important;
	font-size: 16px !important;
	margin-bottom: 10px;
}
.right-column {
	float: left;
	width: 190px;
	padding-right: 5px;
	padding-left: 5px;
}

.input-search {
	width: 470px;
	padding: 13px;
	margin-left: 40px;
	outline: none;
	border: none;
	border: solid 1px #a6a6a6;
	display: block;
	float: left;
	border-right: none;
	transition: 0.4s;
}
.button-search {
	display: block;
	background-color: black;
	float: left;
	color: white;

	border: none;
	width: 50px;
	padding: 13px;
	border: 1px solid black;
	transition: 0.4s;
	background-image: url(../img/glass-white.png);
	background-position: center;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}
.button-search:hover {
	background-color: #fff;
	background-image: url(../img/glass.png);
	color: black;
	transition: 0.4s;
}
.search {
	margin-top: 32px;
	float: left;
}
.social {
	margin-top: 30px;
	margin-left: 20px;
	float: left;
}
.social-tel {
	font-size: 18px;
}

.ref-icons {
	display: block;
	width: 15px;
	height: 15px;
	float: left;
	background-image: url(../img/inst.png);
	background-size: 15px 15px;
	background-position: center center;
	margin-right:  10px;
	background-repeat: no-repeat;
}
.ref-icons-2 {
	background-image: url(../img/vk.png);
}
.ref-icons-3 {
	background-image: url(../img/facebook.png);
	background-size: 20px 15px;
}
.social-icons {
	margin-left: 95px;
	margin-top: 8px;
}

.basket {
	float: left;
	margin-top: 33px;
	background-color: black;
	
}
.ref-basket {
	width: 73px;
	height: 43px;
	border: 1px solid black;
	transition: 0.4s;
	background-image: url(../img/basket-white.png);
	background-repeat: no-repeat;
	background-size: 40px 25px;

	background-position: 5px center;
}
.counter {
	color: white;
	float: right;
	font-size: 25px;
	margin-right: 12px;
	margin-top: 9px;

	font-family:  sans-serif;
}
.ref-basket:hover {
	background-color: #fff;
	transition: 0.4s;
	background-image: url(../img/basket-black.png);
	transition: 0.4s;
}
.ref-basket:hover .counter {
	color: darkgray;
	transition: 0.4s;

}
/*END HEADER*/

/*CONTENT*/
	/*LIST-CONTENT*/
.nav
{
	background-color: black;
	width: 270px;
	float: left;
	clear: both;
}
.nav li {
	font-family:sans-serif !important;

}
.nav .menu-heading
{
	background-color: #333333;
	width: 228px;
	height: 35px;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	padding-left: 42px;
	padding-top: 31px;
	font-weight: 700;
}
.nav ul li a
{
	display: block;
	color: #919191;
	height: 43px;
	padding:0px 40px;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 43px;
	font-weight: 900;
	text-decoration: none;
}
.nav ul li ul li a
{
	display: none;
	color: #000000;
	height: 43px;
	padding:0px 40px;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 43px;
	font-weight: 900;
	text-decoration: none;
}
.nav ul .li_hober:hover ul li a
{
	display: block;
	z-index: 100;
	background-color: #333333;
}

.nav ul .li_hober:hover ul li a:hover
{
	background-color: #000000;
	color: white;
}
.nav ul .li_hober:hover ul
{
	position: absolute;
}
.nav ul .li_hober:hover ul 
{
	
	left: 350px;
	z-index: 100;
}



.nav ul li a:hover
{
	background-color: #333333;
	color: #ffffff;
	transition: 0.2s;
}

	/*END LIST-CONTENT*/


	/*CONTENT-LIST*/
.newproducts
{
	width: 830px;
    float: left;
    float: left;
    margin-left: 25px;
}
.newproducts  .new
{
	width: 270px !important;
	height: 320px;
	background-color: #FFFFFF;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

.newproducts  .new:hover
{
	outline: 3px solid gray;
	transition: 0.1s;
	box-shadow: 0 0 10px;
	z-index: 100;
}



.newproducts a:nth-child(3n) .new {
	margin-right: 0px !important;
}
.newproducts .new:nth-child(n+4)
{
	margin-top: 29px;
}
.newproducts  .new  .previev
{
	width: 250px;
	height: 235px;
	background-color: #EAEAEA;
	margin: 10px 10px;
}
.newproducts  .new  .previev ../img {
	margin: auto;
    transition: 0.3s ease;
    border-radius: 0;
    top: -50px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: center;
    background-color: red;
}
.clearfix {
    clear: both;
}

.newproducts .new .nameprod
{
	color: #333333;
	font-size: 14px;
	display: block;
	margin-top: 15px;
	margin-left: 27px;
	margin-bottom: 42px;
	float:left;
	max-width: 129px;
}
.newproducts .new .price
{
	display: block;
	float: right;
	margin-top: 16px;
	margin-right: 15px;
	margin-bottom: 40px;
	font-size: 18px;
	color: #333333;
}



.newproducts  .newContent
{
	
	display: block;
	position: absolute;
	width: 47px;
	height: 47px;
	background-color: opacity;
	left: 225px;
	background-image: url(../img/Corner@1X.png);
}
.newproducts .new:nth-child(2) .newContent
{
	left: 525px;
	background-image: url(../img/Corner@2X.png);
}

.newproducts  .newContent .cont
{
	color: #FFFFFF;
	font-size: 9px;
	display: block;
	margin: 11px 6px 29px 22px;
	font-weight: bold;
}
.newproducts .new:nth-child(2) .newContent .cont
{
	color:#000000;
	margin: 11px 4px 29px 26px;
	font-weight: bold;
}

.content .newproducts .topProd
{
	margin-top: 125px;
}

.product-title {
	margin-bottom: 15px;
}


	/*END CONTENT-LIST*/

/*rating*/
.rating
{
    display: flex;
    align-items: flex-end;
    font-size: 35px;
    line-height: 0.75;
}



.rating-2
{
    font-size: 30px;
    margin-top: 10px;
}

.rating_value
{
    font-size: 60%;
    font-weight: bold;
    line-height: 1;
}

.rating_value-hidden
{
    display: none;
}

.rating_body
{
    position: relative;
}
.rating_body:before
{
    content: "●●●●●";
    display: block;

    color: white;
}
.rating_items
{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.rating_item
{
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}
.rating_active
{
    position: absolute;
    width: 100%;/*менять райтинг*/
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.rating_active:before
{
    content: "●●●●●";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #00aa6c;
}

.ratings-wrapper
{
    margin-top: 40px;
    width: 210px;
    float: left;
}

/*end-rating*/

.newproducts-product {
	width: 815px;
	min-height: 200px;
	margin-left: 20px;
}
.product-title {
	font-size: 25px;
	border-bottom: 1px solid lightgray;
	padding-bottom: 10px;
}

.image-prod {
	margin: auto;
  transition: 0.3s ease;
  border-radius: 0;
  top: -50px;
   width: 100%; height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
}
.pricelist {
	font-size: 45px;
}
.before-block:after {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	position: relative;
	left: 530px;
	top: -17px;
	background-color: #00aa6c;
}
.warning {
	width: 400px;
	float: left;
	padding: 10px 0;
	border-top: 3px solid #ff8787;
	border-bottom: 3px solid #ff8787;
}
.warning p {
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}
.count-product {
	width: 400px;
	height: 35px;
	float: left;

	margin-top: 20px;
}

.left-column-count,
.center-column-count,
.right-column-count  {
	display: block;
	width: 127px;
	height: 35px;
	float: left;
	text-align: center;
	padding-top: 15px;
	background-color: lightgray;
	font-weight: bold;
	transition: .4s;
}
.left-column-count:hover,
.right-column-count:hover {
	cursor: pointer;
	background-color: black;
	color: white;
	transition: .4s;
}


.submit-btn {
	margin-top: 30px;
	width: 381px;
	border: none;
	outline: none;
	background-color: black;
	color: white;
	padding: 15px 0px;
	border: 1px solid black;
	transition: 0.4s;
	float: right;
	margin-right: 19px
}
.submit-btn:hover {
	cursor: pointer;
	background-color: #fff;
	color: black;
	font-weight: bold;
	transition: 0.4s;
}

.description-product {
	margin-top: 20px !important;
	border-top: 2px dashed black;
	border-bottom: 2px dashed black;
}
/*END CONTENT*/


/*FOOTER*/
.footer
{
	width: 100%;
	height: 250px;
	margin-top: 50px;
}

.footer .footer_top
{
	width: inherit;
	height: 250px;
	border-top: 1px solid lightgray;
}
.footer .footer_top .conteiner_div
{
	width: inherit;
	height: 90px;
}

.footer .footer_top .footer_ref
{
	text-decoration: none;
	display: block;
	color:black;
	font-size:18px;
	float: left;
	margin-top: 46px;
}
.ref1
{
	margin-left: 192px;
}
.ref2
{
	margin-left: 140px;
}
.ref3
{
	margin-left: 130px;
}
.ref4
{
	margin-left: 265px;
}
.ref5
{
	margin-left: 50px;
}
.footer ul li a
{
	text-decoration: none;
	display: block;
	color:gray;
	font-size: 12px;
	width: 120px;
	line-height: 12px;
	margin-bottom: 5px;
	height: 12px;
}
.footer ul li a:hover
{
	color:black;
}

.footer ul
{
	width: 100px;
	display: block;
	list-style-type: none;
	margin-left: 110px;
	float: left;
}



.footer .ul2
{
	margin-left: 110px;
}
.footer .ul3
{
	margin-left: 95px;
}

.conteiner_ul
{
	height: 120px;
	display: inline-block;
	float: left;
	overflow: hidden;
}

.entermail 
{
	display: inline-block;
	width: 300px;
	height: 165px;
	float: left;
	margin-left: 60px;
	position: relative;
}

.entermail p
{
	display: block;
	color:gray;
	font-size: 12px;
	line-height: 14px;
}

.email
{
	padding-top: 12px;
	padding-left: 22px;
	padding-bottom: 10px;
	width: 180px; 
	height: 8px;
	margin-top: 20px;
	background-color: #FFF51F;
	outline: none;
	border: none;
	float: left;
	border-radius: 2px;
}
.email:focus
{
	outline: 1px solid lightgray;
}

.submit
{
	width: 72px;
	padding: 7px 10px;
	margin-top: 20px;
	background-color: #000000;
	color: lightgray;
	border: none;
	float: left;
	border-radius: 2px;
	margin-left: 5px;
}

.visa
{
	display: block;
	width: 36px;
	height: 22px;
	float: left;
	margin-top: 45px;
	margin-right: 13px;
}
.americanar
{
	background-image: url(../img/aex@1X.jpeg);
}
.mastercard
{
	background-image: url(../img/mastercard@1X.jpeg);
}
.maestro
{
	background-image: url(../img/maestero@1X.jpeg);
}
.paypal
{
	background-image: url(../img/paypal@1X.jpeg);
}
.discover
{
	background-image: url(../img/discover@1X.jpeg);
}
.visa_jpg
{
	background-image: url(../img/visa_straight@1X.jpeg);
}

.aboutfooter 
{
	width: 232px;
	float: left;
	margin-left: 50px;
}
.aboutfooter p
{
	font-size: 12px;
	color: gray;
}

.aboutfooter .phone,
.aboutfooter .emailfooter
{
	display: block;
	margin-top: 13px;
}

.footer .copy
{
	width: inherit;
	height:50px;
	background-color: #333333;
	color: lightgray;
}
.footer .copy p
{
	display: block;
	margin-left: 170px;
	padding-top: 20px;
	font-size: 14px;
	float:left;
}

.footer .copy .icons
{
	margin-top: 0px;
	margin-right: 187px;
	padding-top: 20px;
}

.bgvideo {
	position: absolute;
    width: 100%;
    min-height: 100%;
    z-index: -999;
    /* left: 200px; */
    top: 0px;
}

.image-footer {
	width: 80px;
	height: 80px;
	background-color: black;
}
.image-footer img {
	margin: auto;
  transition: 0.3s ease;
  border-radius: 0;
  top: -50px;
   width: 100%; height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
}
.logo-footer {
	width: 80px;
	height: 190px;
	float: left;
	background-color: black;
}
/*END-FOOTER*/
.wrapper-slider {
	width: 820px;
	margin: 0 auto;
	position: relative;
}

.slider-buttons {
	text-align: center;
}

.slider-container {
	overflow: hidden;
}

.slider-track {
	display: flex;
	transition: .4s;
}

.slider-item {
	height: 340px;
	padding-top: 5px;
}

.btn-prev,
.btn-next {
	display: block;
	width: 29.2px;
	height: 60px;
	outline: none;
	border: none;
	position: absolute;
	margin-bottom: 15px;
	left: 830px;
	top: 15px;
	background-image: url(../img/right-arrow.png);
	background-color: black;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 25px 25px;
	transition: .1s;
}
.btn-prev {
	top: 90px;
	background-image: url(../img/left-arrow.png);
}
.btn-next:hover {
	background-position: 8px center;
	transition: .3s;
}
.btn-prev:hover {
	background-position: -4px center;
	transition: .4s;
}
.all-btn {
	display: block;
    width: 70px;
    padding: 4px;
    background-color: black;
    color: white;
    transform: rotate(-90deg);
    position: absolute;
    left: 804.5px;
    top: 194px;
    border: 1px solid black;
    border-radius: 0;
    transition: .4s;
}
.all-btn:hover {
	background-color: white;
	color: black;
	transition: .4s;
}
.my-account {
	margin-top: 20px;
	
	padding-bottom: 20px;
}
.my-account .photo,
.basket-account .photo {
	width: 200px;
	height: 200px;
	background-color: red;
	float: left;
	margin-right: 10px;
}

.my-account .photo ../img,
.basket-account .photo ../img{
	margin: auto;
  transition: 0.3s ease;
  border-radius: 0;
  top: -50px;
   width: 100%; height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
}

.edit-exit {
	width: 150px;
	display: block;
	padding: 5px 10px;
	background-color: black;
	color: white;
	text-align: center;
	float: right;
	margin-right: 20px;
	border: 1px solid black;
	transition: .4s;
	margin-top: -50px;
}
.edit-exit:hover {
	background-color: #fff;
	color: black;
	transition: .4s;
}
.edit-exit-ed {
	margin-right: 200px;
}

.basket-account {
	padding: 20px;
	border-top: 1px solid lightgray;
}
.photo-basket {width: 100px !important; height: 100px !important;}
.name-product {
	margin-top: 10px;
	width: 300px;
	float: left;
}
.all-price {
	display: block;
	float: right;
}



.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    z-index: 100;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup_area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup_content {
    background-color: #fff;
    color: black;
    max-width: 500px;
    padding: 30px;
    position: relative;
    top: -30px;
    padding: 50px;
}

.popup_close {
    position: absolute;
    right: 10px;
    top: 10px;
    text-decoration: none;
}

.popup_title {
    font-size: 40px;
    margin: 0 0 20px 0;
}

.popup_title-accaunt {
    font-size: 16px;
}

.left-column-count-blocked:hover,
.center-column-count-blocked:hover,
.right-column-count-blocked:hover {
	background-color: lightgray;
	color: black;
	cursor: default ;
}


/*СЛАЙДЕР*/
/*slider*/


/* General styles */
.sim-slider {
  position: relative;
  width: 390px;
	height: 420px;
  float: left;
  margin-right: 25px;
  overflow: hidden;
}

.sim-slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.sim-slider-element {
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-in;
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  display: block;
}
.sim-slider-element img {
	margin: auto;
  transition: 0.3s ease;
  border-radius: 0;
  top: -50px;
   width: 100%; height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
}
/* Navigation item styles */
div.sim-slider-arrow-left,
div.sim-slider-arrow-right {
  width: 60px;
  height: 60px;
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
  z-index: 4;
}

div.sim-slider-arrow-left {
  left: 10px;
  top: 45%;
  display: block;
  background: url("../img/slider - left.png") no-repeat;
  background-size: 60px 60px;
  transition: 0.1s;
}

div.sim-slider-arrow-right {
  right: 10px;
  top: 45%;
  display: block;
  background: url("../img/slider - right.png") no-repeat;
  background-size: 60px 60px;
  transition: 0.1s;
}

div.sim-slider-arrow-left:hover {
    transition: 0.1s;
  opacity: 1.0;
}

div.sim-slider-arrow-right:hover {
    transition: 0.1s;
  opacity: 1.0;
}

div.sim-slider-dots {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  text-align: center;
}

span.sim-dot {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  background-color: #BBB;
  border-radius: 5px;
  cursor: pointer;
}
/*end slider*/

/*КОНЕЦ СЛАЙДЕРА*/

